@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./IMG/BigBg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.jura {
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.rubik {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.space {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.custom-pagination {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background: none;
  color: #ffffff;
  font-weight: bold;
  opacity: 1;
  font-family: "Jura", serif;
}
.swiper-pagination-bullet-active {
  background: #f9f9f9;
  color: #ffffff;
}
.shadow {
  align-items: center;
  background-color: hsla(0, 0%, 74%, 0.268);
  border-radius: 10px;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
  color: #000;
  display: flex;
  font-family: Jura, sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
  justify-content: start;
  list-style-type: circle;
  margin-bottom: 0.8vw;
  padding: 0.8vw;
  text-align: left;
  width: 100%;
}
